.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}
.hero h1 {
  font-size: 4rem;
  letter-spacing: 3px;
}
.hero h2 {
  font-weight: 300;
  font-size: 2rem;
}
.hero img {
  width: 5rem;
}
.quick-links {
  margin-top: 100px;
}
