.hero {
  display: flex;
  padding-top: 20dvh;
  align-items: center;
  flex-direction: column;
  height: calc(100dvh - 80px);
}
.hero-container {
  height: calc(100dvh - 100px);
  overflow-y: scroll;
}
.hero-container::-webkit-scrollbar {
  display: none;
}
.hero h1,
.hero h2 {
  text-align: center;
}
.wide-h1 {
  font-size: 4rem;
  letter-spacing: 3px;
}
.wide-h2 {
  font-weight: 300;
  font-size: 2rem;
}

.mobile-h1 {
  font-size: 2rem;
  letter-spacing: 3px;
}
.mobile-h2 {
  font-weight: 300;
  font-size: 1rem;
}
.hero img {
  width: 5rem;
}
.quick-links {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
