.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 127px);
}

.heading {
  width: 100%;
  height: 130px;
  background-color: transparent;
  background-image: linear-gradient(#162149 10%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(transparent 1px, #162149 1px);
  background-size: 100% 100%, 4px 4px;
  backdrop-filter: blur(4px);
  mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.content-links {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 10px;
  z-index: 4;
}
.bottom-shade {
  width: 100%;
  height: 130px;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, #162149 100%),
    radial-gradient(transparent 1px, #162149 1px);
  background-size: 100% 100%, 4px 4px;
  backdrop-filter: blur(4px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 60%);
  opacity: 1;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  margin-bottom: -3px; /*Just for compensation*/
}

.heading h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.nav-line {
  align-self: center;
  height: 5px;
  background-color: #00ca6e;
}
.content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  padding-top: 0;
  gap: 50px;
}

.divider {
  width: 3px;
  height: 70vh;
  border-radius: 1.5px;
  background-color: #0f1631;
}
.main-window {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  padding: 20px;
  padding-top: 130px;
  padding-bottom: 130px;
  overflow-y: auto;
}

.main-window::-webkit-scrollbar {
  display: none;
}

.main-window h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.profile {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.profile * {
  width: max-content;
}
.profile h3:nth-child(3) {
  font-weight: 200;
}
.profile-details {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.profile-container {
  margin-top: 50px;
  gap: 50px;
  display: flex;
}

.dp-container {
  perspective: 1000px; /* Crucial for 3D effect */
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  align-self: center;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; /* Match JS timeout */
  transform-style: preserve-3d;
}

.dp-container.flip .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 100px;
  overflow: hidden;
  /* Hide back face */
}

.front {
  z-index: 1; /* Front face on top */
  transform: rotateY(0deg);
}

.back,
.celebrate {
  transform: rotateY(180deg);
}

.celebrate {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}
.popper-left {
  position: absolute;
  width: 100px;
  bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
  left: 0;
}
.popper-right {
  position: absolute;
  width: 100px;
  bottom: 0;
  margin-right: -20px;
  margin-bottom: -20px;
  transform: rotateY(180deg);
  right: 0;
}

.front img,
.back img,
.celebrate .confetti {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill the container */
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.list-text {
  display: flex;
  flex-direction: column;
}
.list-text span:nth-child(1) {
  font-weight: 500;
  font-size: 1.2rem;
}
.list-text span:nth-child(2) {
  font-weight: 200;
  font-size: 1rem;
}

.list-dot {
  min-width: 16px;
  min-height: 16px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-self: start;
  margin-top: 8px;
  margin-bottom: auto;
}
.list-line {
  position: absolute;
  margin-left: 6px;
  min-width: 4px;
  margin-top: 10px;
  background-color: white;
}

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  /* width: 100%; */
}

.section p {
  text-align: justify;
}
section p {
  text-align: justify;
}

.quicklinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quicklinks a {
  color: white;
  transition: color 0.2s ease;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.quicklinks a:hover {
  color: #5fffb7;
}

.quicklinks a svg path {
  fill: white;
  transition: fill 0.2s ease;
  cursor: pointer;
}

.quicklinks a:hover > svg path {
  fill: #5fffb7;
}
.quicklinks:hover > :not(:hover) {
  color: rgba(95, 255, 183, 0.4);
}

.quicklinks:hover > :not(:hover) > svg path {
  fill: rgba(95, 255, 183, 0.4);
}

.section-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  /* flex-basis: 400px; */
}
/* Custom styles for about description */
.section-about {
  justify-self: flex-end;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.section-row-about {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap-reverse;
  /* flex-basis: 400px; */
}

.skill-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: max-content;
  margin-bottom: 20px;
}
.skill-icons img {
  width: 40px;
  margin: 5px;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.gmap_iframe {
  height: 400px !important;
}

.project-card {
  margin-bottom: 30px;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}
.project-card a h3 {
  text-decoration: none;
  color: white;
  transition: color 0.4s ease;
  cursor: pointer;
}
.project-card a h3:hover {
  color: #5fffb7;
}

.cert {
  margin-bottom: 30px;
}

.cert img {
  width: 100%;
}
